* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Golos Text", sans-serif;
}

.btn {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  box-shadow: none;
}

label {
  display: inline-block;
  width: 70px;
}

input {
  height: 25px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: none;
}

header {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 2rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

fieldset {
  padding: 25px;
  border-radius: 10px;
}

legend {
  font-size: 1.5em;
  font-weight: bold;
}

.cars-form .input-container {
  margin-bottom: 10px;
}

.search-area {
  display: flex;
}

.search-btn {
  height: 25px;
  margin-left: 10px;
}

/* CARS TABLE */

.cars-table {
  margin-top: 15px;
  width: 680px;
  table-layout: fixed;
  border-collapse: collapse;
}

/* TABLES */

td,
th {
  border: 1px solid black;
  text-align: left;
  padding: 5px;
  overflow: hidden;
}

thead {
  background-color: rgb(90, 89, 89);
  color: white;
}

tbody tr {
  background-color: rgb(255, 255, 255);
}

tr:nth-child(2n) {
  background-color: rgb(222, 222, 222);
}

ul {
  list-style: none;
}

li {
  margin: 10px;
}

li span {
  font-weight: bold;
}
